@import '../styles/colors.scss';
@import '../styles/variables.scss';

.header {
    align-items: center;
    background-color: $yellow;
    display: flex;
    height: 56px;
    justify-content: center;
    width: 100%;

    &__container {
        align-items: center;
        display: flex;
        width: $container;

        &__logo {
            background: url('/imgs/Logo_ML.png') no-repeat center;
            height: 36px;
            margin-right: 25px;
            text-indent: -9999px;
            width: 53px;
        }

        &__form {
            display: flex;
            flex-grow: 1;
        }

        &__input {
            border: none {
                radius: 5px;
            };
            color: $grey-dark;
            flex-grow: 1;
            font-size: 18px;
            height: 38px;
            outline: none;
            padding: 0 14px;

            &::placeholder {
                color: $grey-light;
                font-size: 16px;
                letter-spacing: 0.24px;
            }
        }

        &__button {
            background: $grey-lighter url('/imgs/ic_Search.png') no-repeat center;
            border-radius: 0 5px 5px 0;
            border: none;
            cursor: pointer;
            height: 38px;
            margin-left: -5px;
            outline: none;
            width: 42px;
        }
    }
}
