@import '../styles/reset.scss';
@import '../styles/colors.scss';

body {
    background-color: $grey-lighter;
}

body, input, a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $grey-dark;
    text-decoration: none;
}
