@import '../styles/colors.scss';

.listItem {
    display: flex;
    border-top: 1px solid $grey-lighter;
    margin-top: 16px;
    padding-top: 16px;

    &:first-child {
        border: none;
        margin-top: 0;
        padding-top: 0;
    }

    > a {
        display: flex;
        flex-grow: 1;
    }

    &__imageItem {
        border-radius: 4px;
        margin-right: 16px;
    }

    &__details {
        flex-grow: 3;
        &__price {
            margin-top: 16px;
            margin-bottom: 32px;
            font-size: 24px;
            color: $grey-dark;
        }

        &__title {
            font-size: 18px;
        }
    }

    &__info {
        flex-grow: 1;
        margin-top: 32px;;
    }
}
